// Page padding
:root {
	--page-padding: 1.25rem;
	--section-padding: 6.25rem;

	@media screen and (min-width: $sm) {
		--page-padding: 3rem;
	}

	@media screen and (min-width: $md) {
		--section-padding: 130px;
	}

	@media screen and (min-width: $lg) {
		--page-padding: 4vw;
		--section-padding: 160px;
	}

	@media screen and (min-width: $xl) {
		--section-padding: 14vw;
	}
}

// Sections padding
.section-pad {
	padding-top: var(--section-padding);
	padding-bottom: var(--section-padding);
}
.section-pad-top {
	padding-top: var(--section-padding);
}
.section-pad-bottom {
	padding-bottom: var(--section-padding);
}
